# Requisitos para el proyecto TFM-1: Clasificación de Leads de Streaming

## Entorno
Python 3.14.2

## Manipulación y análisis de datos
pandas  
numpy  

## Modelado estadístico y Machine Learning
scikit-learn  
statsmodels  

## Tratamiento de desbalance de clases
imbalanced-learn  

## Explicabilidad de modelos
shap  
lime  

## Visualización
matplotlib  
matplotlib-inline  
seaborn  

## Utilidades
sys  
